<!DOCTYPE html>
<html lang="en">

<body>
    <div id="page-content">
        <div class="inner-page-content">
            <div class="left-side">
                <div class="gibberish-box">
                    <h1>Location name</h1>
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
                <div class="usefull-info-box">
                    <h3>Usefull information</h2>
                        <div class="inner-box">
                            <div>
                                <img src="/gym_web_app_photos/area.png" alt="area"
                                    style="height: 40px; width: auto;">
                                <h6>Area</h6>
                                <span>area size</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/parking.png" alt="parking"
                                    style="height: 40px; width: auto;">

                                <h6>Parking spaces</h6>
                                <span>Parking spaces text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/lock.png" alt="lock"
                                    style="height: 40px; width: auto;">
                                <h6>Locks</h6>
                                <span>Lock text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/towel.png" alt="towel"
                                    style="height: 40px; width: auto;">
                                <h6>Towels</h6>
                                <span>Towels text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/wifi.png" alt="wifi"
                                    style="height: 40px; width: auto;">
                                <h6>WIFI</h6>
                                <span>WIFI text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/shaker.png" alt="shaker"
                                    style="height: 40px; width: auto;">
                                <h6>Protein shakes</h6>
                                <span>Protein shakes text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/wheelchair.png" alt="wheelchair"
                                    style="height: 40px; width: auto;">
                                <h6>Access for wheelchairs</h6>
                                <span>Access for wheelchairs text</span>
                            </div>
                            <div>
                                <img src="/gym_web_app_photos/gym.png" alt="gym"
                                    style="height: 40px; width: auto;">
                                <h6>Other facilites</h6>
                                <span>Other facilites text</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="right-side">
                <a href="/html_pages/activities&events.html">
                    <div class="content-box btn">
                        Schedule <i class="fa-regular fa-calendar-days" style="color: #ffffff;"></i>
                    </div>
                </a>

                <div class="content-box">
                    <h6>Address</h6>
                    <p>The address</p>
                </div>
                <div class="content-box">
                    <h6>Contacts</h6>
                    <p>
                        <span>phone number</span>
                    </p>
                    <p class="mail">
                        <a href="mailto:info@shreddedtogether.bg">info@shreddedtogether.bg</a>
                    </p>
                </div>
                <div class="content-box">
                    <h6>Working times</h6>
                    <p></p>
                </div>
                <a href="/html_pages/memberships.html">
                    <div class="content-box btn">
                        Prices <i class="fa-solid fa-hand-holding-dollar" style="color: #ffffff;"></i>
                    </div>
                </a>
                <a id="gallery-link" href="#">
                    <div class="content-box btn">
                        Gallery <i class="fa-regular fa-image" style="color: #ffffff;"></i>
                    </div>
                </a>

            </div>
        </div>
        <div class="more-container">
            <div class="other-facilities">
                <div class="facilites-text-container">
                    <h1>Other Facilities</h1>
                </div>
                <div class="facilities-container">
                    <div class="facility-container">
                        <i class="fa-solid fa-circle-check" style="color: #000000;"></i>
                        <span>Text</span>
                    </div>
                    <div class="facility-container">
                        <i class="fa-solid fa-circle-check" style="color: #000000;"></i>
                        <span>Text</span>
                    </div>
                    <div class="facility-container">
                        <i class="fa-solid fa-circle-check" style="color: #000000;"></i>
                        <span>Text</span>
                    </div>
                    <div class="facility-container">
                        <i class="fa-solid fa-circle-check" style="color: #000000;"></i>
                        <span>Text</span>
                    </div>
                </div>
            </div>
            <div id="border1"></div>
            <div class="grupovi-zanimania">
                <div class="facilites-text-container">
                    <h1>Group Activities</h1>
                </div>
                <div class="facilities-container">
                    <div class="facility-container">

                        <div class="img-container">
                            <img src="/gym_web_app_photos/calisthenics.png" id="calisthenics">
                        </div>

                        <div class="link-container">
                            <a href="">Calisthenics</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/leg_shredding.png" id="leg_shredding">
                        </div>
                        <div class="link-container">
                            <a href="">Leg shredd</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/arm_wrestling.png" id="arm_wrestling">
                        </div>

                        <div class="link-container">
                            <a href="">Arm wrestling</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/flexiblility.png" id="flexiblility">
                        </div>
                        <div class="link-container">
                            <a href="">flexiblility</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/powerlifting.png" id="powerlifting">
                        </div>
                        <div class="link-container">
                            <a href="">Powerlifting</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/yoga-icon.png" id="yoga-icon">
                        </div>
                        <div class="link-container">
                            <a href="">Yoga</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/philosophy_of_bodybuilding.png"
                                id="philosophy_of_bodybuilding">
                        </div>
                        <div class="link-container">
                            <a href="">Functional training</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/climbing.png" id="climbing">
                        </div>
                        <div class="link-container">
                            <a href="">Climbing</a>
                        </div>

                    </div>
                    <div class="facility-container">
                        <div class="img-container">
                            <img src="/gym_web_app_photos/mma.png" id="mma">
                        </div>
                        <div class="link-container">
                            <a href="">MMA</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="modal" class="modal">
            <span class="close">&times;</span>
            <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
            <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
            <img id="modal-image" class="modal-image" src="" alt="Modal Image">
        </div>

        <h2 class="gallery-text">Gallery</h2>
        
        <div id="gallery">
            <div class="img-card">

            </div>
            <div class="img-card">

            </div>
            <div class="img-card">

            </div>
        </div>
        <div class="img-buttons-container">
            <button id="previous-button">Previous</button>
            <button id="next-button">Next</button>
        </div>

        <div class="fancy-image-container">

        </div>
    </div>
</body>