<header>
    <div class="container">
        <a class="logo" href="/GymWebApp/html_pages/landing_page.html">
            <img src="/GymWebApp/gym_web_app_photos/logo.png" alt="logo">
        </a>
        <nav>
            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-menu">
                <li>
                    <a href="/GymWebApp/html_pages/locations.html">Locations</a>
                </li>
                <li>
                    <a href="/GymWebApp/html_pages/memberships.html">Memberships</a>
                </li>
                <li>
                    <a href="/GymWebApp/html_pages/activities&events.html">Activities and events</a>
                </li>
            </ul>
        </nav>

    </div>
</header>